body {
    font-family: Arial, sans-serif;
    background-color: #042972;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #12122b;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
header nav{
    margin-right: 100px;
}
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 90px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f39c12;
  }
  
  #menu-toggle {
    display: none;
    background-color: #f39c12;
    color: #12122b;
    border: none;
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
  }

h1 {
    margin: 0;
    font-size: 2em;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color: #444;
}

.content p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #03042d;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #ff4b2b;
  }
  
  .footer-section p,
  .footer-section ul {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #ff4b2b;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 20px 0;
    font-size: 14px;
    color: #aaa;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  